<h5 class="title" style="padding-left: 10px;">#{t('.add_new_seat_table')}</h5>
<%= render "form" %>
<div class="row">
  <div class="col s12">
    <%= link_to "#{t('.back')}", admin_admin_seat_tables_path(current_admin), :class => "waves-effect" %>
  </div>
</div>
