<style type="text/css">
	@media print{
		@page {
			size: auto;   /* auto is the current printer page size */
			margin: 0mm;  /* this affects the margin in the printer settings */
		}
		#cancel, #print{
			display: none;
		}
	}

  * {
    font-size: 16px;
    font-family: 'Times New Roman';
  }

  td,
  th,
  tr,
  table {
      border-top: 1px solid black;
      border-collapse: collapse;
  }

td.description,
th.description {
    width: 302.36px;
    max-width: 302.36px;
}

td.quantity,
th.quantity {
    width: 302.36px;
    max-width: 302.36px;
    word-break: break-all;
}

td.price,
th.price {
    width: 302.36px;
    max-width: 302.36px;
    word-break: break-all;
		text-align: center;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 302.36px;
    max-width: 302.36px;
}

img {
    max-width: inherit;
    width: inherit;
}

.navbar, .fixed-sidebar-left {
	display: none;
}



</style>
<div class="ticket">
            <img src="./logo.png" alt="Logo">
            <p class="centered">Mashisoyo Cambodia
                <br>Address line 1
                <br>Address line 2</p>
            <table>
                <thead>
                    <tr>
                        <th class="quantity">QTY</th>
                        <th class="description">Description</th>
                        <th class="price">$$</th>
                    </tr>
                </thead>
                <tbody>
										<%@order.order_items.each do |order|%>
											<tr>
													<td class="quantity"><%=order.quantity%></td>
													<td class="description"><%=order.product.product_name%></td>
													<td class="price"><%=number_to_currency(order.product.product_price)%></td>
											</tr>
										<%end%>
                    <tr>
                        <td class="quantity"></td>
                        <td class="description">TOTAL</td>
                        <td class="price">$55.00</td>
                    </tr>
                </tbody>
            </table>
            <p class="centered">Thanks for your purchase!
                <br>parzibyte.me/blog</p>
        </div>
<button type="button" id="print" class="btn btn-default btn-outline btn-icon left-icon " onclick="javascript:window.print();">
                    <i class="fa fa-print"></i>
                    <span>
                      Print</span>
                  </button>