/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./admin/css
 *= require_self
 *= require font-awesome
 *= require tether
 */

 .navbar.navbar-inverse.navbar-fixed-top .nav>li>a .user-online-status {
  right: 15px;
}

 .navbar.navbar-inverse.navbar-fixed-top .nav>li>a {
  padding: 0 15px !important;
}

 @media (min-width: 768px){
  .modal-dialog {
    width: 1200px;
    margin: 30px auto;
  }
 }
 
.table_none{
  background: #ff6b81;
  text-align: center;
  font-size: 25px;
  padding: 25px;
  color: white;
  font-weight: bold;
}

.display_table_number{
  background: #7bed9f;
  font-size: 25px;
  text-align: center;
  padding: 25px;
  color: white;
  font-weight: bold;
}

div.table-card{
  background: black;
  color: white;
  text-align: center;
  padding: 50px;
}

 @media print {

  /* styles go here */
  #cancel, #print{
    display: none;
  }

  @page {
    size: auto;   /* auto is the current printer page size */
    margin: 0mm;  /* this affects the margin in the printer settings */
  }

  footer{
    display: none;
  }

  .panel{
    width: 75mm;
  }

  td{
    max-width: 75mm;
    text-overflow: ellipsis;
  }

 }

 @import "toastr";

  .lable-order{
    font-size: 16px;
    font-weight: bold;
  }

 .file-upload .controls {
   display: none;
 }
 .file-upload .image-box {
   margin-top: 1em;
   height: 150px;
   width: 150px;
   // width: 20em;
   background: #D24D57;
   cursor: pointer;
   overflow: hidden;
 }
 .file-upload .image-box img {
   height: 100%;
   width: 100%;
   display: none;
 }
 .file-upload .image-box p {
   position: relative;
   top: 45%;
   color: #fff;
 }
