/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./admin/css
 *= require_self
 *= require font-awesome
 *= require tether
 *= require select2
 */

 @media print {
  @page {
    size: auto;
    /* auto is the current printer page size */
    margin: 5mm;
    /* this affects the margin in the printer settings */
  }

  #cancel,
		#print {
			display: none;
    }
  td,
	th,
	tr,
	table {
		border-top: 2px solid black !important;
    border-collapse: collapse;
    width: 50mm;
	}
 }

 .btn.fancy-button.btn-danger.btn-0:hover{
   color: #000 !important;
 }

 .select2-container--default .select2-selection--single {
    border: 0px solid #aaa !important;
  }

 .navbar.navbar-inverse.navbar-fixed-top .nav>li>a .user-online-status {
  right: 15px;
}

 .navbar.navbar-inverse.navbar-fixed-top .nav>li>a {
  padding: 0 15px !important;
}

 @media (min-width: 768px){
  .modal-dialog {
    width: 1200px;
    margin: 30px auto;
  }
 }
 
.table_none{
  background: #ff6b81;
  text-align: center;
  font-size: 19px;
  padding: 25px;
  color: white;
  font-weight: bold;
}

.display_table_number{
  background: #7bed9f;
  font-size: 25px;
  text-align: center;
  padding: 25px;
  color: white;
  font-weight: bold;
}

.display_delivery{
  background: #1e90ff;
  font-size: 25px;
  text-align: center;
  padding: 25px;
  color: white;
  font-weight: bold;
}

div.table-card{
  background: black;
  color: white;
  text-align: center;
  padding: 50px;
}

 @import "toastr";

  .lable-order{
    font-size: 16px;
    font-weight: bold;
  }

 .file-upload .controls {
   display: none;
 }
 .file-upload .image-box {
   margin-top: 1em;
   height: 150px;
   width: 150px;
   // width: 20em;
   background: #D24D57;
   cursor: pointer;
   overflow: hidden;
 }
 .file-upload .image-box img {
   height: 100%;
   width: 100%;
   display: none;
 }
 .file-upload .image-box p {
   position: relative;
   top: 45%;
   color: #fff;
 }

 #loader-overlay {
  font-family: monospace;
  background: #f0f0f0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader-loadtext {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeinout 1.5s ease-in-out infinite;
  font-size: 25px;
}
.loader-spinner {
  border: solid 25px #fff;
  border-top: solid 25px #0088ff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 1s linear infinite;
}
@keyframes fadeinout {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}