/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./admin/css
 *= require_self
 *= require font-awesome
 *= require tether
 */

div.table-card{
  background: black;
  color: white;
  text-align: center;
  padding: 50px;
}

.btn-width{
  width: 32%;
  margin-left: 8px;
}

 @media print {

  /* styles go here */
  #cancel, #print{
    display: none;
  }
  @page {
    size: auto;   /* auto is the current printer page size */
    margin: 0mm;  /* this affects the margin in the printer settings */
  }

  footer{
    display: none;
  }

  .panel{
    width: 100mm;
  }

  td{
    width: 75mm;
    max-width: 75mm;
  }

 }

 @import "toastr";

  .lable-order{
    font-size: 16px;
    font-weight: bold;
  }

 .file-upload .controls {
   display: none;
 }
 .file-upload .image-box {
   margin-top: 1em;
   height: 150px;
   width: 150px;
   // width: 20em;
   background: #D24D57;
   cursor: pointer;
   overflow: hidden;
 }
 .file-upload .image-box img {
   height: 100%;
   width: 100%;
   display: none;
 }
 .file-upload .image-box p {
   position: relative;
   top: 45%;
   color: #fff;
 }
