<!-- Main Content -->
<div class="page-wrapper">
  <div class="container">
    <!-- Row -->
    <div class="row">
      
    </div>
    <!-- /Row -->
    <%=render "applications/footer"%>
  </div>

<script>

  jQuery("#checkout").on('click', function() {
    $('div#cont').removeClass('container');
    $('div#card').removeClass('card-panel');
    print();
  });

</script>
