<!-- Main Content -->
<div class="page-wrapper">
  <div class="container">
    <!-- Row -->
    <div class="row">
      <%= link_to "Print", "#{}", class: 'waves-effect waves-light btn-large indigo darken-4 white-text', id: "checkout" %>

    </div>
    <!-- /Row -->
    <%=render "applications/footer"%>
  </div>
